@use 'colors' as *;

// Sweet Alert
.swal2-confirm {
    background-color: $primary ;
    border: none;
    color: $white ;
}

.swal2-cancel {
    background-color: $white;
    border: none;
    color: $primary;
}

.swal2-confirm:hover {
    background-color: $primary-dark;
}

.swal2-cancel:hover {
    background-color: $snow;
}